<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
	</head>
	<style>
		.active {
			color: red;
			font-weight: 600;
		}
		hr {
			border:1px solid #ffaa00;
		}
		.header {
			color: #f9a600;
			border-bottom: 1px dashed #8c8287;
		}
	</style>
	<body>
		<div id="app">
			<hr />
			<div>{{message}}</div>

			<hr />
			<div class="header">v-once 只渲染一次</div>
			<div v-once>{{message}}</div>
			
			<hr />
			<div class="header">v-for 循环</div>
			<div>
				<ul>
					<li v-for="(movie,index) in movies" :class="{'active':index === curIndex}" @click="changeMovieColor(index)">{{index}}-{{movie}}</li>
				</ul>
			</div>

			<hr />
			<div class="header">v-on 计数器</div>
			<div>
				<p>计数器：{{sumCount}}</p>
				<button @click="addSumCount">+</button>
				<button @click="subSumCount">-</button>
			</div>
			
			<hr />
			<div class="header">v-bind 绑定img</div>
			<div>
				<img width="150" :src="imgUrl" alt=""/>
			</div>
			
			<hr />
			<div class="header">v-bind 绑定href</div>
			<div>
				<a :href="aHref" target="_blank">百度一下</a>
			</div>
			
			<hr />
			<div class="header">v-on 改变颜色</div>
			<div>
				<button class="title" :class="{'active':isActive}" @click="changeButtonColor">改变颜色</button>
			</div>
			
			<hr />
			<div class="header">v-bind 绑定style</div>
			<div>
				<h5 :style="{'color': h5Color}">{{message}}</h5>
			</div>
			
			<hr />
			<div class="header">computed 计算属性</div>
			<div>
				姓名：<span>{{fullName}}</span>
			</div>
			
			<hr />
			<div class="header">computed 计算属性高级</div>
			<div>
				<p>计算总价：{{totalPrice}}</p>
			</div>
			
			<hr />
			<div class="header">v-on 监听键帽的点击</div>
			<div>
				<input type="text" @keyup.enter="keyUp" />
			</div>
			
			<hr />
			<div class="header">v-if 登陆方式切换</div>
			<div>
				<span v-if="loginType">
					<label>用户名:</label>
					<input type="text" key="username"/>
				</span>
				<span v-else>
					<label>邮箱:</label>
					<input type="text" key="email"/>
				</span>
				<button type="button" @click="changeLoginType">切换登陆</button>
			</div>
			
			<hr />
			<div class="header">v-model 双向绑定</div>
			<div>
				<input type="text" v-model="message" />
				<p>{{message}}</p>
			</div>
			
			<hr />
			<div class="header">v-model radio</div>
			<div>
				<label for="male">
					<input type="radio" id="male" value="男" v-model="sex"/>男
				</label>
				<label for="female">
					<input type="radio" id="female" value="女" v-model="sex"/>女
				</label>
				<p>当前选中性别为:{{sex}}</p>
			</div>
			
			<div>
				<hr />
				<div class="header">v-model checkbox单选协议
				</div>
				<div>
					<input type="checkbox" id="checkbox" v-model="isAgree">
					<label for="checkbox">同意协议</label>
				</div>
				<button type="button" :disabled="!isAgree">下一步</button>
			</div>
			
			<!-- v-model checkbox多选 -->
			<div>
				<hr />
				<div class="header">v-model checkbox多选</div>
				<div>
					<input type="checkbox" value="蓝球" v-model="ballArr"/>蓝球
					<input type="checkbox" value="足球" v-model="ballArr"/>足球
					<input type="checkbox" value="排球" v-model="ballArr"/>排球
					<input type="checkbox" value="乒乓球" v-model="ballArr"/>乒乓球
				</div>
				<div>选中的球：{{ballArr}}</div>
			</div>
			
			<!-- v-model select -->
			<div>
				<hr />
				<div class="header">v-model select</div>
				<div>
					<select name="fruit" v-model="fruit">
						<option value="苹果">苹果</option>
						<option value="香蕉">香蕉</option>
						<option value="西瓜">西瓜</option>
						<option value="榴莲">榴莲</option>
						<option value="荔枝">荔枝</option>
					</select>
					<span>选中水果为:{{fruit}}</span>
				</div>
				<div>
					<select name="fruits" v-model="fruits" multiple>
						<option value="苹果">苹果</option>
						<option value="香蕉">香蕉</option>
						<option value="西瓜">西瓜</option>
						<option value="榴莲">榴莲</option>
						<option value="荔枝">荔枝</option>
					</select>
					<span>选中水果们为:{{fruits}}</span>
				</div>
			</div>
			
			<!-- v-model 修饰符 -->
			<div>
				<hr />
				<div class="header">v-model 修饰符 lazy</div>
				<div>
					<span>{{message}}</span>
					<input type="text" v-model.lazy="message" />
				</div>
				<div class="header">v-model 修饰符 number</div>
				<div>
					<span>{{age}} - {{typeof age}}</span>
					<input type="text" v-model.number="age" />
				</div>
				<div class="header">v-model 修饰符 trim</div>
				<div>
					<span>{{message}}</span>
					<input type="text" v-model.trim="message" />
				</div>
			</div>
		</div>

		<script src="../../js/vue.js"></script>
		<script>
			const app = new Vue({
				el: "#app",
				data: {
					message: "hellow vue",
					movies: ['肖申克的救赎', '星际穿越', '大话西游', '变形金刚','霸王别姬'],
					sumCount: 0,
					imgUrl: "https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1591850526864&di=5e67b12f6cd9d68daccb44a598be307f&imgtype=0&src=http%3A%2F%2Fb-ssl.duitang.com%2Fuploads%2Fitem%2F201409%2F26%2F20140926190803_kTtCN.jpeg",
					aHref:"http://www.baidu.com",
					isActive: true,
					curIndex: 0,
					h5Color: '#00ff00',
					firstName: 'alimus',
					lastName: 'creed',
					books: [
						{id:1, name:'肖申克啊' , price:111},
						{id:2, name:'星际穿越' , price:191},
						{id:3, name:'变形金刚' , price:132}
					],
					loginType: true,
					sex: "男",
					isAgree: false,
					ballArr:[],
					fruit: '苹果',
					fruits: [],
					age: 1
				},
				methods: {
					addSumCount(event) {
						console.log(event)
						this.sumCount++;
					},
					subSumCount() {
						this.sumCount--;
					},
					changeButtonColor(){
						this.isActive = !this.isActive;
					},
					changeMovieColor(index) {
						this.curIndex = index;
					},
					keyUp() {
						console.log("keyup")
					},
					changeLoginType() {
						this.loginType = !this.loginType;
					}
				},
				computed:{
					fullName:function() {
						return this.firstName +' ' + this.lastName
					},
					totalPrice:function() {
						// let result = 0;
						// for(let book of this.books) {
						// 	result += book.price;
						// }
						// return result;
						
						return this.books.reduce((x,y) => {return x + y.price},0);
					}
				}
			});
		</script>
	</body>
</html>
